<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item me-2">
        <a href="#" class="nav-link active" aria-current="page">Car list</a>
      </li>

      <button
        class="btn btn-success btn-sm me-2 float-right"
        (click)="createCar()"
      >
        Add new car
      </button>

      <li class="nav-item">
        <a
          href="https://www.linkedin.com/in/dawid-j%C4%99draszczyk/"
          target="_blank"
          class="nav-link"
        >
          <i class="bi bi-linkedin"></i><span>Linkedin Page</span>
        </a>
      </li>
    </ul>
  </header>
</div>
